/* Основные цвета:
#ebebeb - светло серый, служит в качестве фона
#0072bb - служит в качесте второго основного цвета */


:root {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: #ebebeb;
  font-size: 12px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

ul li {
  list-style-type: none;
}

.wrapper {
  min-width: 320px;
  max-width: 1170px;
  margin: 0 auto;
  padding: 4em 1.25em;
}

.btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.h {
   margin: 0;
   text-transform: uppercase;
}

.h--2 {
  text-align: center;
}

.order-btn:hover {

}

/*===== HEADER =====*/

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;
}

.header__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25em;
}

.header__logo {
  display: none;
}

.header__burger {
  margin-right: auto;
}

.burger__line {
  display: block;
  width: 2em;
  border: 2px solid #0072bb;
}

.burger__line + .burger__line {
  margin-top: .3em;
}

.header__menu {
  position: absolute;
  top: 6.5em;
  left: 1.2em;
}

.header__menu-block {
  padding: 0;
  height: 0;
}

.top-menu {
  display: none;
  width: calc(100% - 2.4em);
  z-index: 50;
}

.top-menu--active {
  display: block;
}

.top-menu__list {
  padding: 0;
  margin: 0;
}

.top-menu__item {
  width: 100%;
  border-radius: .8em;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 0 .8em 0 #0072bb;
}

.top-menu__item:hover {
  background-color: #0072bb70;
}

.top-menu__item:hover .top-menu__link {
  color: #fff;
}

.top-menu__item + .top-menu__item {
  margin-top: .4em;
}

.top-menu__link {
  display: block;
  padding: .7em 1.2em;
  width: 100%;
  font-size: 1.2em;
  text-transform: uppercase;
}

.header__phone {
  display: block;
  font-weight: bold;
  font-size: 1.3em;
  transition: color .3s;
  margin-right: 1.25em;

}

.header__phone:hover {
  color: #0072bb;
}

.header__phone + .header__phone {
  margin-top: .3em;
}

.order-btn--icon {
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 0;
  background: url(../img/header/header-phone-btn.png) no-repeat;
  background-size: 100%;
}

/*===== / HEADER =====*/

/* ===== TITLE-PAGE =====*/

.title-page {
  position: relative;
  width: 100%;
  padding: 6em 0 0;
}

.title-page__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  z-index: 20;
  transform: translate(-50%, -50%);
}

.title-page__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
}

.title-page__img {
  width: 205px;
  height: 205px;
  margin-bottom: 2em;
}

.title-page__subtitle {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}

.top-title {
  margin: 0;
  font-size: 3em;
  text-align: center;
  margin-bottom: .5em;
}

.top-title__word {
  margin: 0;
  font-weight: 700;
}

.top-title__word--blue {
  color: #007dd0;
}

.top-title__word--red {
  color: #c21a1a;
}

.social {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 2.25em;

}

.social__item + .social__item {
  margin-left: .7em;
}

.social__link {
  display: block;
  width: 1.8em;
  height: 1.8em;
}

.social__link--vk {
  background: url(../img/icone-social/vk-logo-white-min.png) no-repeat;
  background-size: 100%;
}

.social__link--youtube {
  background: url(../img/icone-social/youtube-logo-white-min.png) no-repeat;
  background-size: 100%;
}

.social__link--instagram {
  background: url(../img/icone-social/instagram-logo-white-min.png) no-repeat;
  background-size: 100%;
}

.title-page__btn {
  max-width: 280px;
  margin: 0 auto;
  padding: 1em 3em;
  background-color: #0072bb;
  color: #fff;
  border-radius: .2em;
  text-align: center;
  font-size: .8em;
}

.title-page__form-container {
  display: none;
}

.title-page__slider {
  width: 100vw;
  height: 550px;
  margin: 0 auto;
}

.title-page__slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: .75;
  z-index: 10;
}

.swiper-slide {
  object-fit: cover;
}

/*===== / TITLE-PAGE =====*/

/*===== INFORMATION =====*/

.information {
  background-color: #fff;
}

.information__title {
  text-align: center;
  margin-bottom: 1.2em;
}

.information__content {
   font-family: "times new roman";
  font-size: 1.4em;
  color: #0072bb;
  text-align: center;
}


/*===== / INFORMATION =====*/

/*===== TRAINING =====*/

.training__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.training__title {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1.4em;
}

.card {
  position: relative;
  width: 100%;
  max-width: 290px;
  min-width: 280px;
  height: 360px;
  margin: 0 auto 1.4em;
  border-radius: .6em;
}

.card__front, 
.card__back{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top:0;
  left: 0;
  padding: 1.2em;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transition: transform .5s ease;
  border-radius: .7em;
  background-color: #fff;
  box-shadow: 0 0 10px 2px lightgrey;
}

.card__front.card__front--active {
  transform: perspective(600px) rotateY(-180deg);
}

.card__back.card__back--active {
  transform: perspective(600px) rotateY(0);
}

.card__front {
  transform: perspective(600px) rotateY(0);
}

.card__back {
  transform: perspective(600px) rotateY(180deg);
}

.card__title {
  min-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.card__img {
  width: 100%;
}

.card__btn {
  position: absolute;
  right:1.2em;
  bottom: 1.2em;
  color: #0072bb;
  margin: 0 auto;
  cursor: pointer;
}

/*===== / TRAINING =====*/

/*===== PHOTO =====*/

.photo {
  position: relative;
  background-color: #fff;
}

.photo__slider {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.photo__wrapper {
  position: relative; 
}

.photo__title {
  text-align: center;
  margin-bottom: 1.2em;
}

.photo__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.photo__item {
  margin-bottom: .3em;
  /* box-shadow: 0 0 0.8em 0 #ebebeb; */
  border-radius: .3em;
  width: 80%;
  height: 150px;
}

.photo__btn {
  display: none;
}

.swiper-slide {
  padding: 0;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.photo__link {
  display: block;
  width: 100%;
  height: 100%;
}

.photo__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-slider__pagination {
  left: 50%;
  transform: translateX(-50%, 0);
}


/*===== / PHOTO =====*/

/*===== VIDEO =====*/

.video__title {
  text-align: center;
  margin-bottom: 1.2em;
}

.video__content {
  display: flex;
  flex-wrap: wrap;
  border-radius: .3em;
  background-color: #fff;
  min-height: 200px;
  margin-bottom: 1.2em;
  padding: 1.2em;
}

.video__list {
  padding: 0;
}

.video__description {
  font-family: "times new roman";
  order: 1;
  width: 100%;
  min-width: calc(300px - 4.8em);
  margin: 0;
  font-size: 1.2em;
}

.video__play {
  width: 100%;
  min-width: calc(300px - 4.8em);
  margin-bottom: 1.2em;
  min-height: 200px;
}


.video-block__video {
  width: 100%;
  height: 100%;
}


/*===== / VIDEO =====*/

/*===== PARTNERS =====*/

.partners {
  background: linear-gradient(#0072bb, #46b4fb);
}

.partners__title {
  color: #fff;
  text-align: center;
  margin-bottom: 1.2em;
}

.partners__list {
  display: flex;
  padding: 0;
  overflow-x: scroll;
}

.partners__item {
  padding: 1.2em;
}

.partners__img {
  filter: drop-shadow(0px -4px 10px #fff);
}

/*===== / PARTNERS =====*/

/*===== FORM-CONTAINER =====*/

.form-container {
  background-color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__block-text {
  display: flex;
  flex-direction: column;
}

.form__text {
  max-width: 30%;
  min-width: 300px;
  margin-bottom: 1.2em;
}

.form__btn {
  padding: .8em 1.8em;
  background-color: #0072bb;
  border-radius: .3em;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  max-width: 300px;
}

/*===== / FORM-CONTAINER =====*/

/*===== FOOTER =====*/

.footer {
  background: linear-gradient(#0072bb, #46b4fb);
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.bottom-menu {
  width: 100%;
  padding: 0%;
}

.bottom-menu__item + .bottom-menu__item {
  margin-top: .4em;
}

.bottom-menu__link {
  font-weight: bold;
}

.contacts {
  padding: 0;
}

.contacts__item + .contacts__item {
  margin-top: .4em;
}

.bottom-menu__link,
.contacts__link,
.social__link {
  color: #fff;
}

.bottom-menu__link {
  font-size: 1.2em;
}

.contacts__link {
  font-size: 1.6em;
}

/*===== / FOOTER =====*/

/*===== FORMS =====*/

.back-call-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  z-index: 100;
}

.back-call__form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 5em);
  max-width: 320px;
  padding: 1.25em;
  background-color: #fff;
  border-radius: .4em;
}

.back-call__title {
  text-align: center;
  margin-bottom: 1em;
}

.l-back-call__info {
  margin-bottom: .4em;
  font-weight: 700;
  color: #000;
  font-size: .9em;
}

.i-back-call__info {
  width: 100%;
  height: 2em;
  margin-bottom: 1em;
  border: 1px solid #0072bb;
  border-radius: .2em;
  padding-left: .5em;

}

.back-call__btn {
  padding: .5em 2em;
  border-radius: .2em;
  background-color: #0072bb;
  color: #fff;
  -ms-align-self: flex-end;
  align-self: flex-end;
}

.title-form__close-btn {
  position: absolute;
  top: -2.4rem;
  right: 0;
  font-size: 2em;
  width: 30px;
  height: 30px;
  background-color: #0072bb;
  color: #fff;
  border-radius: .2em;
}

.title-form__close-btn::before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

@media (min-width: 627px) {
  
  .card {
    max-width: 275px;
    min-width: 270px;
  }

}


@media (min-width: 768px) {

  body {
    font-size: 16px;
  }

/*===== HEADER =====*/

.header__btn.order-btn {
  width: 200px;
  height: 50px;
  padding: .5em 2em;
  border-radius: .4em;
  color: #fff;
  font-size: 1em;
  background: #0072bb;
}

.header__btn.order-btn:hover {
  background: linear-gradient(#0072bb, #46b4fb);
}

/*===== / HEADER =====*/


/*TITLE-PAGE*/

  .title-page__slider {
    width: 100%;
    height: 700px;
  }

/* / TITLE-PAGE*/

/*===== INFORMATION =====*/

  .information__content {
    margin: 0 auto;
    width: 70%;
  }

/*===== INFORMATION =====*/

/*===== PHOTO =====*/

  .photo__slider {
    width: 100%;
  }

  .swiper-wrapper {
    width: 80%;  
  }

  .photo__item:nth-child(4n) {
    margin-right: 0;
  }

  .photo__item {
    margin-bottom: .3em;
    box-shadow: 0 0 0.8em 0 #ebebeb;
    border-radius: .3em;
    width: 25%;
    height: auto;
  }

/*===== / PHOTO =====*/

/*===== VIDEO =====*/

  .video__description {
    order: 0;
    width: 60%;
    font-size: 1.2em;
  }

  .video__play {
    width: 40%;
    margin-bottom: 0;
  }

  .video__description {
    flex: 1;
    order: 0;
    margin-right: 1.2em;
  }

/*===== VIDEO =====*/

/*===== FORM-CONTAINER =====*/

  .form__block-text {
    column-count: 2;
  }

/*===== / FORM-CONTAINER =====*/


/*===== FOOTER =====*/

  .bottom-menu {
    width: 33%;
  }

  .contacts {
    margin-right: auto;
  }

/*===== / FOOTER =====*/

}

@media (min-width: 1024px) {

/*===== HEADER =====*/

  .header__menu-block {
    height: auto;
  }

  .header__wrapper {
    padding: .5em 1.25em;
  }

  .header__logo {
    display: block;
    margin-right: auto;
    cursor: pointer;
  }

  .header__logo-img {
    width: 150px;
    height: 50px;
  }

  .header__burger {
    display: none;
  }

  .menu-block {
    background-color: #0072bb;
  }

  .menu-block__wrapper {
    display: flex;
    justify-content: center;
    padding: .6em 0;
  }

  .header__menu {
    display: block;
    position: static;
  }

  .top-menu__list {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }

  .top-menu__item {
    width: auto;
    box-shadow: none;
    border-radius: 0 0 0 0;
    background-color: #0072bb;
  }

  .top-menu__item:hover {
    color: #fff;
  }

  .top-menu__item + .top-menu__item {
    margin-top: 0;
    margin-left: .8em;
  }

  .top-menu__link {
    position: relative;
    font-family: "helvetica", "arial", sans-serif;
    font-size: .8em;
    font-weight: 700;
    padding: 0;
    color: #fff;
    transition: color .3s;
  }

  .top-menu__link:hover.top-menu__link::before {
    content: "";
    position: absolute;
    top: 1.7em;
    width: 100%;
    border-bottom: 2px solid #fff;
  }


/*===== /HEADER =====*/

/*===== TITLE-PAGE =====*/

  .title-page {
    padding: 4em 0 0;
  }

  .title-page__wrapper {
    justify-content: space-between;
  }

  .title-page__img {
    display: none;
  }

  .title-page__content {
    width: 50%;
  }

  .title-page__form-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title-form {
    display: flex;
    flex-direction: column; 
    background-color: #ffffff95;
    padding: 2em 1.25em;
    border-radius: .4em;
  }

  .title-form__title {
    margin-bottom: 1em;
    text-align: center;
  }

  .l-title-form__info {
    margin-bottom: .4em;
    font-weight: 700;
    color: #000;
    font-size: .9em;
  }

  .i-title-form__info {
    width: 20em;
    height: 2em;
    margin-bottom: 1.25em;
    border: none;
    border-radius: .2em;
    padding-left: .5em;
  }

  .i-title-form__submit {
    padding: .5em 2em;
    border-radius: .2em;
    background-color: #0072bb;
    color: #fff;
    -ms-align-self: flex-end;
    align-self: flex-end;
  }



/*===== / TITLE-PAGE =====*/

/*TRAINER*/
  .card {
    height: 350px;
    flex: 1;
    max-width: 270px;
    min-width: 200px;
    margin: 0 0 1.4em;
  }

  .card + .card {
    margin-left: 1.2em;
  }

/*===== PHOTO ====*/

  .photo__wrapper {
  }

  .photo-slider {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .photo-slider__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
  }

  .photo-slider__slide {
    text-align: center;
    width: 100%;
    height: 100%;
  }

  .slide__img {
    object-fit: cover;
  }

  .photo__btn {
    position: absolute;
    padding: 0;
    border: 2em solid #fff;
    z-index: 70; 
  }

  .photo__btn--prev {
    top: 50%;
    left: 1em;
    border-right: 2em solid #0072bb;
  }
  .photo__btn--next {
    border-left: 2em solid #0072bb;
    top: 50%;
    right: 1em;
  }


/*===== / PHOTO ====*/

/*===== PARTNERS =====*/

  .partners__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-x: visible;
  }

  .partners__item {
    margin-bottom: 1.2em;
  }

}

