
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), 
       url('../fonts/roboto-v20-latin-regular.woff') format('woff'); 
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'),
       url('../fonts/roboto-v20-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-italic.woff') format('woff'); /* Modern Browsers */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-500.woff') format('woff'); /* Modern Browsers */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-700.woff') format('woff'); /* Modern Browsers */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'),
       url('../fonts/roboto-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-900.woff') format('woff'); /* Modern Browsers */
}



/* Основные цвета:
#ebebeb - светло серый, служит в качестве фона
#0072bb - служит в качесте второго основного цвета */


:root {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica", sans-serif;
  background-color: #ebebeb;
  font-size: 12px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

ul li {
  list-style-type: none;
}

.wrapper {
  min-width: 320px;
  max-width: 1170px;
  margin: 0 auto;
  padding: 6.8em 1.25em;
  text-align: center;
}

.btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.h {
   margin: 0;
   text-transform: uppercase;
}

.h--2 {
  text-align: center;
  font-size: 1.6rem;
}

.h--3 {
  font-size: 1.3rem;
}

.h--4 {
  margin: 0;
}

.main-btn {
  -webkit-appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15em !important;
  height: 3em !important;
  margin: 0 auto;
  background-color: #0072bb;
  color: #fff;
  border-radius: .4em;
  font-size: .9rem !important;
  text-transform: uppercase;
}

.submit-btn {
  -webkit-appearance: none;
  padding: .5em 2em;
  border-radius: .4em;
  background-color: #0072bb;
  color: #fff;
  align-self: flex-end;
}

.close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -2.4rem;
  right: 0;
  font-size: 2em;
  width: 2rem;
  height: 2rem;
  background-color: #0072bb;
  color: #fff;
  border-radius: .2em;
}

.close-btn__line {
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  border-bottom: 3px solid #fff;
}

.close-btn__line--1 {
  transform: rotate(-45deg);
}

.close-btn__line--2 {
  transform: rotate(45deg);
}

.no-scroll {
  overflow: hidden;
}

/*===== HEADER =====*/

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;
}

.header__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25em;
}

.header__logo {
  display: none;
}

.header__burger {
  margin-right: auto;
}

.burger__line {
  display: block;
  width: 2em;
  border: 2px solid #0072bb;
}

.burger__line + .burger__line {
  margin-top: .3em;
}

.header__menu {
  position: absolute;
  top: 6.5em;
  left: 1.2em;
}

.header__menu-block {
  padding: 0;
  height: 0;
}

.menu-block__wrapper {
  padding: 0;
}

.top-menu {
  display: none;
  width: calc(100% - 2.4em);
  z-index: 50;
}

.top-menu--active {
  display: block;
}

.top-menu__list {
  padding: 0;
  margin: 0;
  text-align: left;
}

.top-menu__item {
  width: 100%;
  border-radius: .8em;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 0 .8em 0 #0072bb;
}

.top-menu__item--member {
  background-color: green;
  box-shadow: 0 0 .8em 0 green;
}

.top-menu__item--member .top-menu__link {
  color: #fff;
} 

.top-menu__item:hover {
  background-color: #0072bb70;
}

.top-menu__item:hover .top-menu__link {
  color: #fff;
}

.top-menu__item + .top-menu__item {
  margin-top: .4em;
}

.top-menu__link {
  display: block;
  padding: .7em 1.2em;
  width: 100%;
  font-size: 1.2em;
  text-transform: uppercase;
}

.phone-block {
  text-align: left;
}

.phone-block > .phone-block__text {
  margin: 0;
  padding: 0;
}

.header__phone {
  display: block;
  font-weight: bold;
  font-size: 1.8em;
  transition: color .3s;
  margin-right: 1.25em;
  text-decoration: underline;
}

.header__phone:hover {
  color: #0072bb;
}

.header__phone + .header__phone {
  margin-top: .3em;
}

.order-btn--icon {
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 0;
  background: url(../img/header/header-phone-btn.png) no-repeat;
  background-size: 100%;
}

/*===== / HEADER =====*/

/* ===== TITLE-PAGE =====*/

.title-page {
  position: relative;
  width: 100%;
  padding: 6em 0 0;
}

.title-page__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  z-index: 20;
  transform: translate(-50%, -50%);
}

.title-page__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
}

.title-page__img {
  width: 205px;
  height: 205px;
  margin-bottom: 2em;
}

.title-page__subtitle {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}

.top-title {
  margin: 0;
  font-size: 2em;
  text-align: center;
  margin-bottom: .5em;
}

.top-title__word {
  display: block;
  font-size: 2rem;
  margin: 0;
  font-weight: 700;
}

.top-title__word--blue {
  margin-top: 1rem;
  color: #007dd0;
}

.top-title__word--red {
  color: #c21a1a;
}

.social {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 2.25em;

}

.social__item + .social__item {
  margin-left: .7em;
}

.social__link {
  display: block;
  width: 1.8em;
  height: 1.8em;
}

.social__link--vk {
  background: url(../img/icone-social/vk-logo-white-min.png) no-repeat;
  background-size: 100%;
}

.social__link--youtube {
  background: url(../img/icone-social/youtube-logo-white-min.png) no-repeat;
  background-size: 100%;
}

.social__link--instagram {
  background: url(../img/icone-social/instagram-logo-white-min.png) no-repeat;
  background-size: 100%;
}

.title-page__btn-container {
  display: flex;
  justify-content: center;
}

.title-page__btn {
  width: 12em;
  margin: 0;
  margin-right: 1.2em;
}

.title-page__btn:last-child {
  margin-right: 0;
  background: green;
}

.title-page__form-container {
  display: none;
}

.title-page__slider {
  width: 100vw;
  height: 600px;
  margin: 0 auto;
}

.title-page__slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: .75;
  z-index: 10;
}

.swiper-slide {
  object-fit: cover;
}

/*===== / TITLE-PAGE =====*/

/*===== INFORMATION =====*/

.information {
  background-color: #fff;
}

.information__title {
  text-align: center;
  margin-bottom: 1.2em;
}

.information__content {
  font-size: 1.4em;
  color: #0072bb;
  text-align: center;
}


/*===== / INFORMATION =====*/

/*===== TRAINING =====*/

.training__title {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2.4em;
}

.training__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 2.4em;
}

.card {
  position: relative;
  width: 100%;
  max-width: 290px;
  min-width: 280px;
  height: 360px;
  margin: 0 auto 1.4em;
  border-radius: .6em;
}

.card__front, 
.card__back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 20;
  top:0;
  left: 0;
  padding: 1.2em;
  backface-visibility: hidden;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
  border-radius: .7em;
  background-color: #fff;
  box-shadow: 0 0 10px 2px lightgrey;
}

.card__front.card__front--active {
  transform: perspective(600px) rotateY(-180deg);
}

.card__back.card__back--active {
  transform: perspective(600px) rotateY(0);
}

.card__front {
  background-color: #fff;
  transform: perspective(600px) rotateY(0);
}

.card__back {
  color: #fff;
  background-color: #0072bb;
  -webkit-transform: perspective(300px) rotateY(180deg);
          transform: perspective(300px) rotateY(180deg);
}

.card__title {
  margin: 0 auto;
  width: 80%;
  min-height: 50px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.2em;
}

.card__img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.card__text {
  font-size: .9rem;
  padding: 0;
  margin: 0;
  text-align: left;
}

.card__text + .card__text {
  margin-top: 1.2rem;
}

.card__btn {
  position: absolute;
  right:1.2em;
  bottom: 1.2em;
  color: #0072bb;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
}

.card-back__btn {
  color: #fff;
}

.training__btn {
  margin: 0 auto;
}

/*===== / TRAINING =====*/

/*===== PHOTO =====*/

.photo {
  position: relative;
  background-color: #fff;
}

.photo__slider {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 1.2em;
  overflow: hidden;
}

.photo__wrapper {
  position: relative; 
}

.photo__title {
  text-align: center;
  margin-bottom: 2.4em;
}

.swiper-wrapper {
  margin: 0;
  padding: 0;
  margin-bottom: 2.4em;
}

.photo__item {
  margin-bottom: .3em;
  border-radius: .3em;
  width: 100%;
  height: 150px;
}

.photo__btn {
  display: none;
}

.swiper-slide {
  padding: 0;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.photo__link {
  display: block;
  width: 100%;
  height: 100%;
}

.photo-slider__img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.photo-slider__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.2em;
}


/*===== / PHOTO =====*/

/*===== VIDEO =====*/

.video__title {
  text-align: center;
  margin-bottom: 2.4em;
}

.video__list {
  margin: 0;
  padding: 0;
  margin-bottom: 2.4em;
  text-align: left;
}

.video__item {
  display: flex;
  flex-wrap: wrap;
  border-radius: .4em;
  background-color: #fff;
  min-height: 200px;
  margin-bottom: 1.2em;
  padding: 1.2em;
  box-shadow: 0 0 10px 2px lightgrey;
}

.video-content__content {
  order: 1;
  width: 100%;
  min-width: calc(300px - 4.8em);
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.4em;
}

.video-content__video-container {
  width: 100%;
  min-width: calc(300px - 4.8em);
  margin-bottom: 1.2em;
  min-height: 200px;
}


.video-content__video {
  width: 100%;
  height: 100%;
  border: none;
}

/*===== / VIDEO =====*/

/*===== PARTNERS =====*/

.partners {
  background: linear-gradient(#0072bb, #46b4fb);
}

.partners__wrapper {
  padding: 6.2em 0;
}

.partners__title {
  color: #fff;
  text-align: center;
  margin-bottom: 2.4em;
}

.partners__list {
  display: flex;
  margin: 0;
  padding: 0;
  overflow-x: scroll;
}

.partners__item {
  padding: 1.2em;
}

.partners__img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  filter: drop-shadow(0px -4px 10px #fff);
}

/*===== / PARTNERS =====*/

/*===== MATERIALS =====*/

.materials__title {
  margin-bottom: 2.4em;
}

.materials__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 2.4em;
}

.stage {
  max-width: 300px;
  flex: 1;
  margin-bottom: 1.2em;
  padding: 1.2em;
  background-color: #fff;
  border-radius: .4em;
  box-shadow: 0 0 10px 2px lightgrey;
}

.stage__title {
  margin-bottom: 1.2em;
}

.stage__img {
  width: 170px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 1.2em;
}

.stage__img--test,
.stage__img--profile {
  padding-left: 1.9em;
}

.stage__comment {
  font-weight: 500;
  margin: 0;
}

/*===== / MATERIALS =====*/

/*===== FOOTER =====*/

.footer {
  background: linear-gradient(#0072bb, #46b4fb);
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.bottom-menu {
  width: 100%;
  margin: 0;
  padding: 0%;
  margin-bottom: 2.4em;
}

.bottom-menu__item + .bottom-menu__item {
  margin-top: .4em;
}

.bottom-menu__link {
  font-weight: bold;
}

.contacts {
  margin: 0;
  padding: 0;
  margin-bottom: 2.4em;
}

.contacts__item + .contacts__item {
  margin-top: .4em;
}

.bottom-menu__link,
.contacts__link,
.social__link {
  color: #fff;
}

.bottom-menu__link {
  font-size: 1.2em;
}

.contacts__link {
  font-size: 1.6em;
}

.footer__btn {
  margin: 1.2em 0;
}

.footer__btn.order-btn {
  width: 200px;
  height: 50px;
  padding: .5em 2em;
  border-radius: .4em;
  color: #0072bb;
  font-size: 1em;
  background: #fff;
  font-size: 1.2em;
}

.footer__list {
  margin: 0;
  padding: 0;
}

.footer__list.social {
  justify-content: flex-start;
}

.footer-form {
  display: flex;
  flex-direction: column;
  min-width: 20em;
}

.footer-form__title {
  color: #fff;
  margin-bottom: 1.2em;
}

.footer-form__content {
  width: 100%;
  height: 2em;
  margin-bottom: 1em;
  border: 1px solid #0072bb;
  border-radius: .2em;
  padding-left: .5em;
  font-size: 1em;
}

.footer-form__content--text {
  height: 8em;
}

.footer-form.submit-btn {
  background: #fff;
}

/*===== / FOOTER =====*/

/*===== BACK-CALL FORM =====*/

.back-call-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  z-index: 100;
}

.back-call-container.back-call-container--active {
  display: block;
}

.back-call__form {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  transform: translate(-50%, -50%);
  width: calc(100% - 5em);
  max-width: 320px;
  padding: 1.25em;
  background-color: #fff;
  border-radius: .4em;
}

.back-call__title {
  text-align: center;
  margin-bottom: 1em;
}

.l-back-call__info {
  margin-bottom: .4em;
  font-weight: 700;
  color: #000;
  font-size: 1.2em;
}

.i-back-call__info {
  width: 100%;
  height: 2rem;
  margin-bottom: 1em;
  border: 1px solid #0072bb;
  border-radius: .2em;
  padding-left: .5em;
  font-size: 1rem;
}

/*===== / BACK-CALL FORM =====*/

/*===== MESSAGE FORM =====*/

.form-container-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000090;
  z-index: 100;
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(#0072bb, #46b4fb);
  color: #fff;
  padding: 10%;
}

.message__text {
  text-align: center;
}

/*===== / MESSAGE FORM =====*/

/*===== PROFILE FORM =====*/

.profile__title {
  margin-bottom: 2.4em;
}

.profile-form__list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2.4em;
}

.profile-form__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-form__item--consent {
  flex-direction: row;
}

.profile-form__item + .profile-form__item {
  margin-top: 1.2em;
}

.profile-form__question {
  text-align: left;
  margin-bottom: .4em;
}

.profile-form__field {
  width: 100%;
  font-size: 1.2em;
  padding: .6em 1em;
  border-radius: .4em;
  border: none;
}

.dot-block {
  display: flex;
}

/*===== / PROFILE FORM =====*/

/*===== MESSAGE SEND =====*/

.message-sent {
  padding-top: 1em;
  text-align: center;
}

.message-sent__title {
  max-width: 13em;
  margin: 0 auto;
  padding-top: 6em;
  background: url(../img/form/message-sent.png) no-repeat center 0;
  background-size: 35%;
}

/*===== / MESSAGE SEND =====*/

@media (min-width: 627px) {
  
  .card {
    max-width: 275px;
    min-width: 270px;
  }

}


@media (min-width: 768px) {

  body {
    font-size: 16px;
  }

  .order-btn {
    width: 200px;
    height: 50px;
    padding: .5em 2em;
    border-radius: .4em;
    color: #fff;
    font-size: 1em;
    background: #0072bb;
  }

  .header__phone {
    font-size: 1.4em;
  }


/*===== HEADER =====*/

  .header__btn.order-btn:hover {
    background: linear-gradient(#0072bb, #46b4fb);
  }

/*===== / HEADER =====*/


/*===== TITLE-PAGE =====*/

  .top-title__word {
    font-size: 3rem;
  }

  .title-page__slider {
    width: 100%;
    height: 700px;
  }

/* ===== / TITLE-PAGE =====*/

/*===== INFORMATION =====*/

  .information__content {
    margin: 0 auto;
    width: 70%;
  }

/*===== / INFORMATION =====*/

/*===== PHOTO =====*/

  .photo__slider {
    width: 100%;
  }

  .swiper-wrapper {
    width: 80%;  
  }

  .photo__item:nth-child(4n) {
    margin-right: 0;
  }

  .photo__item {
    margin-bottom: .3em;
    box-shadow: 0 0 0.8em 0 #ebebeb;
    border-radius: .3em;
    width: 25%;
    height: auto;
  }

  .photo-slider__img {
    width: 100%;
    height: 400px;
  }

/*===== / PHOTO =====*/

/*===== VIDEO =====*/

  .video-content__content {
    order: 0;
    flex: 1;
    width: 60%;
    font-size: 1.2em;
    margin-right: 1.2em;
  }

  .video-content__video-container {
    width: 40%;
    margin-bottom: 0;
  }

/*===== VIDEO =====*/

/*===== FORM-CONTAINER =====*/

  .form__block-text {
    column-count: 2;
  }

/*===== / FORM-CONTAINER =====*/


/*===== FOOTER =====*/

  .contacts {
    margin-right: auto;
  }

  .footer__btn.order-btn {
    font-size: 1em;
  }

/*===== / FOOTER =====*/

}

@media (min-width: 880px) {

  /* ===== TRAINING ===== */

  .card {
    margin: 0 1.5em 1.4em;
  }

  /* ===== / TRAINING ===== */

}

@media (min-width: 1024px) {

/*===== HEADER =====*/

  .header__menu-block {
    height: auto;
  }

  .header__wrapper {
    padding: .5em 1.25em;
  }

  .header__logo {
    display: block;
    margin-right: auto;
    cursor: pointer;
  }

  .header__logo-img {
    width: 150px;
    height: 50px;
  }

  .header__burger {
    display: none;
  }

  .menu-block {
    background-color: #0072bb;
  }

  .menu-block__wrapper {
    display: flex;
    justify-content: center;
  }

  .header__menu {
    display: block;
    position: static;
  }

  .top-menu__list {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }

  .top-menu__item {
    position: relative;
    width: auto;
    box-shadow: none;
    border-radius: 0 0 0 0;
    background-color: #0072bb;
  }

  .top-menu__item--member:hover {
    background-color: green;
  }

  .top-menu__item:hover {
    color: #fff;
  }

  .top-menu__item + .top-menu__item {
    margin-top: 0;
    margin-left: .8em;
  }

  .top-menu__item:hover.top-menu__item::before {
    content: "";
    position: absolute;
    top: 2.05em;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #fff;
  }

  .top-menu__link {
    width: 100%;
    font-family: "helvetica", "arial", sans-serif;
    font-size: .8em;
    font-weight: 700;
    padding: .8em 0;
    color: #fff;
    transition: color .3s;
  }

   .top-menu__link--member {
    margin-left: auto;
    padding-left: 1.2em;
    padding-right: 1.2em;
    background-color: green;
  }

/*===== /HEADER =====*/

/*===== TITLE-PAGE =====*/

  .title-page {
    padding: 4em 0 0;
  }

  .title-page__wrapper {
    justify-content: space-between;
  }

  .title-page__img {
    display: none;
  }

  .title-page__content {
    width: 50%;
  }

  .title-page__form-container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
  }

  .title-form {
    display: flex;
    flex-direction: column; 
    background-color: #ffffff95;
    padding: 2em 1.25em;
    border-radius: .4em;
  }

  .title-form__title {
    margin-bottom: 1em;
    text-align: center;
  }

  .l-title-form__info {
    margin-bottom: .4em;
    font-weight: 700;
    color: #000;
    font-size: .9em;
  }

  .i-title-form__info {
    width: 100%;
    height: 2em;
    margin-bottom: 1.25em;
    border: none;
    border-radius: .2em;
    padding-left: .5em;
  }

/*===== / TITLE-PAGE =====*/

/*===== TRAINER =====*/

  .card {
    height: 350px;
    flex: 1;
    max-width: 270px;
    min-width: 200px;
    margin: 0 0 1.4em;
  }

  .card + .card {
    margin-left: 1.2em;
  }

/*===== PHOTO ====*/

  .photo-slider {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .photo-slider__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
  }

  .photo-slider__slide {
    text-align: center;
    width: 100%;
    height: 100%;
  }

  .slide__img {
    object-fit: cover;
  }

  .photo__btn {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 46%;
    padding: 0;
    z-index: 70; 
    transform: translate(0, -50%);
  }

  .photo__btn--prev {
    left: 1em;
  }

  .photo__btn--prev::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
    background: url(../img/photo/arrow.png) no-repeat;
  }


  .photo__btn--next {
    background: url(../img/photo/arrow.png) no-repeat;
    right: 1em;
  }

  .photo-slider__img {
    width: 100%;
    height: 500px;
  }

/*===== / PHOTO ====*/

/*===== PARTNERS =====*/

  .partners__list {
    display: flex;
    padding: 1em 0;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-x: visible;
  }

  .partners__item {
    margin-bottom: 1.2em;
  }

/*===== / PARTNERS =====*/

/*===== MATERIALS =====*/

  .materials__list {
    flex-direction: row;
  }

/*===== / MATERIALS =====*/

/*===== FOOTER =====*/

  .footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .bottom-menu {
    width: auto;
  }

  .footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    margin: 0;
  }


/*===== FOOTER =====*/

}

